@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  perspective: 300px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav {
  font-size: 1.8rem;
  display: none;
  justify-content: space-between;
  padding: 1em;
}
.nav ul {
  display: flex;
  gap: 1em;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
  background-image: url("/mainbg.png");
  z-index: 0;
  position: relative;
  transform-style: preserve-3d;
  height: 100vh;
  font-size: 4rem;
}
.intro #blob {
  position: absolute;
  inset: 0;
  top: 65%;
  transform: translateZ(90px) scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.intro #text {
  position: absolute;
  height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -15%;
  transform: translateZ(0);
}
.intro h1 {
  font-size: 15rem;
}
.intro h3 > span:nth-of-type(1) {
  background-color: #ff0f7b;
  background-image: linear-gradient(90deg, hsl(333deg, 100%, 53%) 0%, hsl(33deg, 94%, 57%) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.intro h3 > span:nth-of-type(2) {
  color: red;
}

.banner {
  margin-top: 11em;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.skills {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 20px 1fr 1fr 1fr 20px;
  align-items: center;
  padding: 1em;
  text-align: center;
  gap: 1em;
  scroll-snap-align: start;
  max-width: 1800px;
}
.skills span:first-child {
  grid-row: 1;
  margin-right: auto;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.skills span:last-child {
  grid-row: -2;
  grid-column: -2;
  margin-left: auto;
}
.skills img:hover {
  filter: grayscale(100%);
}
.skills h2 {
  grid-row: 1;
  grid-column: 2/9;
  font-size: 2rem;
}
.skills a {
  grid-row: 5;
  grid-column: 2/9;
}
.skills__code-header {
  grid-row: 2;
  grid-column: 2;
}
.skills__code-content {
  grid-row: 2;
  grid-column: 3/9;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.skills__code-icons {
  display: flex;
  justify-content: space-around;
}
.skills__design-header {
  grid-row: 3;
  grid-column: 8;
}
.skills__design-image {
  grid-row: 3;
  grid-column: 2/8;
  height: 100%;
  background-image: url("/uxui.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}
.skills__photography-header {
  grid-row: 4;
  grid-column: 2;
}

.hovered.javascript {
  background-color: green;
}

.hovered.react {
  background-color: blue;
}

.cta {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.work {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20px 1fr 1fr 20px;
  align-items: center;
  height: 100vh;
  padding: 1em;
  margin: 0 auto;
  scroll-snap-align: start;
  max-width: 1800px;
  gap: 4em;
}
.work span:first-child {
  grid-row: 1;
  grid-column: 1;
}
.work span:last-child {
  grid-row: 4;
  grid-column: 8;
  margin-left: auto;
}
.work__new-mozart {
  grid-row: 2;
  grid-column: 2/5;
  text-align: center;
  height: 100%;
  border: 1px solid black;
}
.work__reactime {
  grid-row: 2;
  grid-column: 5/8;
  text-align: center;
  height: 100%;
  border: 1px solid black;
}
.work__smukke {
  grid-row: 3;
  grid-column: 2/5;
  text-align: center;
  height: 100%;
  border: 1px solid black;
}
.work__alotl {
  grid-row: 3;
  grid-column: 5/8;
  text-align: center;
  height: 100%;
  border: 1px solid black;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  height: 100vh;
  padding: 1em;
  margin: 0 auto;
  scroll-snap-align: start;
  max-width: 1800px;
  gap: 5em;
}
.testimonials span:first-child {
  grid-row: 1;
  grid-column: 1;
}
.testimonials span:last-child {
  grid-row: 4;
  grid-column: 8;
  margin-left: auto;
}
.testimonials p:nth-of-type(1) {
  grid-row: 2;
  grid-column: 2/4;
}
.testimonials p:nth-of-type(2) {
  grid-row: 2;
  grid-column: 4/6;
}
.testimonials p:nth-of-type(3) {
  grid-row: 2;
  grid-column: 6/8;
}

/*# sourceMappingURL=style.css.map */
